.fullcontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    color: white;
}
.btn{
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
}
.btnn{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.btnn button{
    color: white;
    font-size: 12px;
    font-weight:600;
 }

.btn button{
   color: white;
   font-size: 16px;
   font-weight:600;
}
.pdfbtn{
    background-color: blueviolet;
    width: 30vh;
    padding: 25px;
    border-radius:35px;
    
}
.imgfilter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
}
.rotate{
    width: 250px;
    rotate: 90deg;
}
.rotate2{
    width: 520px;
    rotate: 180deg;
}

.rotate3{
    width: 250px;
    rotate: 270deg;
}
.rotatef{
    width: 520px;
    rotate: 360deg;
}
.image{
    width: 90px;
    height: 10vh;
    filter: grayscale(0%);
}
.imgnfilter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bandw{
    width: 90px;
    height: 10vh;
    filter: grayscale(200%);
}
.lessbright{
    width: 90px;
    height: 10vh;
    filter:hue-rotate(90deg);
}
.bright{
    width: 90px;
    height: 10vh;
    filter:brightness(2.5);
}
.invert{
    width: 90px;
    height: 10vh;
    filter:brightness(1.75);
}
.sepia{
    width: 90px;
    height: 10vh;
    filter:sepia(1);
}
.basicinvert{
    width: 520px;
    height: 390px;
    filter:brightness(1.75);
}
.basicsepia{
    width: 520px;
    height: 390px;
    filter:sepia(1);
}
.basicbandw{
    width: 520px;
    height: 390px;
    filter: grayscale(100%);
}

.basiclessbright{
    width: 520px;
    height: 390px;
    filter:hue-rotate(90deg);
}
.basicimage{
    width: 520px;
    height: 390px;
    filter: grayscale(0%);
}
.basicbright{
    width: 520px;
    height: 390px;
    filter:brightness(2.5);
}
.rotateinvert{
    width: 520px;
    height: 390px;
    filter:invert(1);
    rotate: 90deg;
}
.filter{
    width: 45px;
    height: 5vh;
    filter: invert(1);
    object-fit: cover;
}
.crop{
    transform: scale(0.8);
}
.crop1{
    transform: scale(0.6);
}
.crop2{
    transform: scale(0.2);
}

.filters button img{
    width: 72px;
}
.img{
    width: 520px;
    height: 610px;
}
@media only screen and (max-width:600px) {
    .basic{
        width: 320px;
        height: 240px;
    }
    .img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btnn button {
        color: white;
        font-size: 10px;
        font-weight: 400;
    }
    .filter {
        width: 36px;
        height: 4vh;
        filter: invert(1);
        object-fit: cover;
    }
    .btn button {
        width: 100%;
        color: white;
        font-size: 12px;
        font-weight: 600;
    }
    .pdfbtn {
        
        background-color: blueviolet;
        width: 14vh;
        padding: 25px;
        border-radius: 35px;
    }
    .rotate{
        width: 220px;
        height: 240px;
    }
    .rotate2{
        width: 220px;
        height: 240px;
    }
    .rotatef{
        width: 220px;
    }
    .crop{
        transform: scale(0.5);
    }
    .filters button img{
        width: 38px;
        height: 50px;
    }
    .basicinvert{
        width: 320px;
        height: 240px;
       
    }
    .basicsepia{
        width: 320px;
        height: 240px;
        
    }
    .basicbandw{
        width: 320px;
        height: 240px;
       
    }
    .basiclessbright{
        width: 320px;
        height: 240px;
      
    }
    .basicimage{
        width: 320px;
        height: 240px;
       
    }
    .basicbright{
        width: 320px;
        height: 240px;
        
    }
}