

.main {
    width: 100%;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}
.main img{
   
    height: 75vh;
    overflow: hidden;
}

.butt{
    color: white;
    background-color: white;
    font: bold;
    font-weight: 600;
    padding: 20px;
    border-radius: 100px;
    background-color: blueviolet;
}
.exportbtn{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}